
<body style="background-color:rgb(47, 79, 79);">
  <h1>Edit <%= @venues.name %></h1>

  <form action="/venues/<%=@venues.id%>" method="PATCH">
    <label> Venue Name </label>
    <input type="text" name="venue[name]" value="<%=@venues.name %>"> </br>

    <label> Venue Locale </label>
    <input type="text" name="venue[city]" value="<%=@venues.city %>"> </br>
  
    <h2>Add Performer:</h2>
  
<% @user.performers.each do |per| %>
  <input type="checkbox" name="venue[performer_ids][]" id="<%= per.id %>" value="<%= per.id %>"><%= per.name %><br>
<% end %>

    <h3>Create New Performer:</h3>
    <label>Performer Name: </label>
    <br>
    <input type="text" name="performer[name]" id="name"></input>
    <br>
    <label>Performer Genre: </label>
    <br>
    <input type="text" name="performer[genre]" id="genre"></input>
    <br><br>
  

  
    <input type="submit" value="Update">
  </form>
</body>
