  <%= @venue.name %><br />
  <%= @venue.city %> <br />

  <h2>Performers</h2>
  <ul>
  <% @venue.performers.each do |band| %>
    <li><a href="/clubs/<%=band.id%>"><%= band.name %></a></li>
  <% end%>
  </ul>
  <a href="/bags/<%=@venue.id%>/edit">Edit</a>
  <br />
  <br />