<head>
  <link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
</head>
<h1>Edit <%= @performers.name %></h1>

<form action="/performers/<%=@performers.id %>" method="POST">
  <label> Band/Performer Name </label>
  <input type="text" name="name" value="<%=@performers.name %>"> </br>

  <label> Genre </label>
  <input type="text" name="genre" value="<%=@performers.genre%>"> </br>

  <label> Times Seen </label>
  <input type="text" name="times_seen" value="<%=@performers.genre%>"> </br>

  <input type="submit" value="Update">
</form>
