<head>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdcbc-rX0K_6a0B1rPBA4zFn8r8-tHqMrVV6a3ZLoq6fN0GCKn&usqp=CAU" height="200" width="600" />
</head>

<body style="background-color:rgb(47, 79, 79);">
<h1>Your List of Live Performances</h1>

<h2>You may view Venues associated with a Performer, as well as, edit details of each Performer</h2>

<style>
strong {
  border: 1px solid powderblue;
  padding: 0px;
}
</style>

<p><form method="GET" action='/account'>
    <input type="submit" value="Home">
</form></p>

<p><form method="GET" action='/performers/new'>
    <input type="submit" value="Add Performer">
</form></p>

<ol>
<% @performers.each do |band| %>
  <li><strong>Performer:</strong> <%= band.name %> <strong>Genre:</strong> <%= band.genre %> <strong>Times Seen:</strong> <%= band.times_seen %> <br />
  <a href="/performers/<%=band.id%>/venues">Venues</a>
  <a href="/performers/<%=band.id%>/edit">Edit</a>
  <a href="/performers/<%=band.id%>/delete">Delete</a>
  </li>
</ol>
  <br />
  <br />
<% end %>
</body>