  <%= @performer.name %><br />
  <%= @performer.genre %> <br />
  Bag: <a href="/bags/<%=@performer.venue.id%>"><%= @performer.venue.name %></a> <br />
  <a href="/clubs/<%=@performer.id%>/edit">Edit</a>
  <br />
  <br />