<body style="background-color:rgb(47, 79, 79);">
<h1>Venues where you've seen this Performer:</h1>
  <strong>Performer:</strong> <%= @performers.name %><br />
  <strong>Genre:</strong> <%= @performers.genre %> <br />
  <strong>Times Seen:</strong> <%= @performers.times_seen %> <br />

  <h2>Venues:</h2>
  <ul>
  <% @performers.venues.each do |ven| %>
    <strong>Name:</strong> <%= ven.name %> <strong>Locale:</strong> <%= ven.city %><br />
    <a href="/venues/<%=@venues.id%>/<%=ven.id%>">Remove</a>
  <% end%>
  </ul>
  <a href="/performers/index">Performer Index</a>
  <a href="/performers/<%=@performers.id%>/edit">Edit</a>
  <br />
  <br />
  </body>